.span2 {
  height: 450px;
}

#accordionWrapper {
  background: #B9D5E7;
  height: 100%;
  min-height: 2%;
  padding: 0;
}

#accordion {
  float: left;
  list-style-type: none;
  margin: 0;
  min-height: 10%;
  padding: 0;
  width: 100%;
}

#accordion h3 {
  background: none;
  background-color: #ccc;
}

#addDept {
  margin: 5px;
}

#deptDropDown {
  width: 100px
}

.bucket {
  border-radius: 5px;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#semester {
  border: 2px solid #ccc;
}

#new-semester {
  border: 2px dashed #ccc;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#new-semester:hover {
  cursor: pointer;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

#sortable {
  height: 100%;
  list-style-type: none;
}

#sortable li, #pending li {
  background: #5C86BD;
  border-radius: 10px;
  color: #ffffff;
  cursor: move;
  display: block;
  height: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  text-align: center;
}

#courses {
  margin-left: 173px;
}

#table {
  margin-right: 173px;
}

#profile {
  float: left;
  margin-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  border-right: 2px solid #bbb;
}

#account {
  border-top: 2px solid #bbb;
  margin-top: 20px;
  padding-top: 40px;
  width: 100%;
}

#transfer {
  float: left;
  margin-top: 30px;
  padding-left: 50px;
}

#sortable img, #semester-header img, #accordion h3 img {
  float: right;
  visibility: hidden;
}

#semester-header img {
  margin-left: -30px;
  margin-right: 7px;
  margin-top: 7px;
}

#sortable li div {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}

#sortable li:hover img, #semester-header:hover img, #accordion h3:hover img {
  filter: alpha(opacity=60);  
  opacity: 0.6;
  visibility: visible;
}

#sortable li img:hover, #semester-header img:hover, #accordion h3 img:hover {
  cursor: pointer;
  filter: alpha(opacity=100);  
  opacity: 1.0;
}
