body {
  background-color:#76AEDB;
  color:#ffffff;
  font-family:"Myriad Pro";
}

#accordionWrapper {
  background: #B9D5E7;
  min-height: 2%;
  height:100%;
}

#accordion {
  background: #000000;
  border: 1px solid #ccc;
  float: left;
  list-style-type: none;
  margin: 0;
  margin-right: 5px;
  min-height: 10%;
  padding: 0;
  width: 20%;
}

#pending {
  background: #B9D5E7;
  border: 1px solid #ccc;
  float: left;
  list-style-type: none;
  margin: 0;
  margin-right: 5px;
  min-height: 5%;
  padding: 0;
  width: 100%;
}

#pending li {
  background: #232C39;
  border-radius: 10px;
  color: #ffffff;
  cursor: move;
  display: block;
  font-family: "Myriad Pro";
  font-size: 1.2em;
  margin: 5px 0px 5px 0px;
  padding: 5px;
  text-align: center;
}

#bucket {
  background: #232C39;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  margin: 5px;
  margin-right: 10px;
  min-height: 350px;
  width: 25%;
}

#sortable {
  height: 200px;
  list-style-type: none;
  padding: 0;
}

#sortable li {
  background: #637CA1;
  border-radius: 10px;
  color: #ffffff;
  cursor: move;
  display: block;
  font-family: "Myriad Pro";
  font-size: 1.2em;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  text-align: center;
}
