# URL Rewriting
# Scott Daner
# DegreePath

RewriteEngine On

# Don't apply rules if the directory actually exists
RewriteCond %{REQUEST_FILENAME} !-d

# Don't apply rules if the file actually exists
RewriteCond %{REQUEST_FILENAME} !-f

# Don't apply rules if there is a symbolic link to that path that exists
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule .* api.php?$1 [QSA,L]